<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>agent1</name>
  <description>c-project agent</description>
  <remoteFS>/opt/jenkins</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.33.0">
    <host>65.0.129.11</host>
    <port>22</port>
    <credentialsId>38b9273c-659a-46db-b5b2-492572fd4332</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyProvidedKeyVerificationStrategy">
      <key>
        <algorithm>ssh-rsa</algorithm>
        <key>AAAAB3NzaC1yc2EAAAADAQABAAABgQC8Du2kCDbl9FIubLaJe00SqTHCIqwYaZIDghCncG7dimp+YeSxUnReunt8L5d2mEReooMp8pvzCUTgjO44cJMEm9rSRvWjY4EBgSFHDKjY2jPVAHxRZMkbnH9FibEpHEW+60Do/alYTFKfo/CWB1k4c6O9aSvKnNNYUzHlBamZTN4DzYX8Ry0TZGm/KYwQ+hZg1F7L+hDYo8/ABXe9xOLkYCAIeIxQ7XnAsbW6V/BBcBF3TMqJSgwGZYcFkg6ELywvbcenSEAyF0eenPFA2OypqBvHenwoitOLTBvoXscgithaR68geYHm5sBsioalIgp25HzBkR62cJBXV7Ipcsz1k3jKmiQml2T6KXukbFpqGRDuJg5HKYhwd6R9yOSDjuOfmFMSDd0PyEeG7zQSFYeR0KeZ8k8zQeKBG6lHU6sQ3vJR3Hu8esi+KxYeJaguYuxIc1vdt6MhOo41bzaoDjnmsiUafSFQ8QPHq8YFxPh1TBAC/0WUswTkiJZhKrsYzqM=</key>
      </key>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>